{% extends "base.html" %}

{% block app_content %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>

<h1 align="center">Economic Indicators</h1>

<h3>GDP Values (Billions of USD)</h3>

<div class="jumbotron">
    <canvas id="new_chart_a" style="width:1024px;height:384px"></canvas>
</div>

<div class="jumbotron">
    <canvas id="new_chart" style="width:1024px;height:384px"></canvas>
</div>

<div class="jumbotron">
    <canvas id="chart" style="width:1024px;height:384px"></canvas>
</div>
<p>
    Gross domestic product (GDP) is a monetary measure of the market value of all the final goods and services produced
    in a specific time period.
</p>
<br>
<br>

<h3>GDP Annual Increases</h3>
<div class="jumbotron"></div>
<br>
<br>

<h3>Interest Rates (%)</h3>
<div class="jumbotron">
    <canvas id="interest" style="width:1024px;height:384px"></canvas>
</div>
<p>
    In the United States, the federal funds rate is the interest rate at which depository institutions (banks and
    credit unions) lend reserve balances to other depository institutions overnight on an uncollateralized basis.
</p>
<br>
<br>

<h3>Annual Inflation Rates (%)</h3>
<div class="jumbotron"></div>
<br>
<br>

<h3>Unemployment Rates (%)</h3>
<div class="jumbotron">
    <canvas id="unemployment" style="width:1024px;height:384px"></canvas>
</div>
<p>Unemployment is measured by the unemployment rate as the number of persons who are unemployed as a percentage of the labour force (the total number of people employed plus unemployed).</p>
<br>
<br>

<h3>Balance of Trade (Billions of USD)</h3>
<div class="jumbotron">
    <canvas id="balance_of_trade" style="width:1024px;height:384px"></canvas>
</div>
<p>
    The balance of trade, commercial balance, or net exports (sometimes symbolized as NX), is the difference between
    the monetary value of a nation's exports and imports over a certain time period.
</p>
<br>
<br>

<h3>Debt to GDP Ratios (%)</h3>
<div class="jumbotron">
    <canvas id="debt_to_gdp" style="width:1024px;height:384px"></canvas>
</div>
<p>
    The debt-to-GDP ratio is the ratio between a country's government debt (measured in units of currency) and its gross
    domestic product (GDP) (measured in units of currency per year). A low debt-to-GDP ratio indicates an economy that
    produces and sells goods and services sufficient to pay back debts without incurring further debt.
    A high debt-to-GDP ratio indicates an economy that produces and sells goods and services, but not sufficient enough
    to pay back debts without incurring further debt.
</p>
<br>
<br>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
    new_drawgraph("new_chart", false, {{ response_obj['labels']|safe }}, {{ response_obj['legends']|safe }}, {{ response_obj['values']|safe }}, {{ response_obj['colors']|safe }});
    new_drawgraph("new_chart_a", false, {{ response_obj['labels_a']|safe }}, {{ response_obj['legends_a']|safe }}, {{ response_obj['values_a']|safe }}, {{ response_obj['colors_a']|safe }});
    drawgraph("chart", false, {{ response_obj['gdp_labels']|safe }}, {{ response_obj['gdp_values']|safe }}, {{ response_obj['gdp_values_max'] }});
    drawgraph("interest", true, {{ response_obj['interest_labels']|safe }}, {{ response_obj['interest_rates']|safe }}, {{ response_obj['interest_rates_max'] }});
    drawgraph("unemployment", false, {{ response_obj['unemployment_labels']|safe }}, {{ response_obj['unemployment_rates']|safe }}, {{ response_obj['unemployment_rates_max'] }});
    drawgraph("balance_of_trade", false, {{ response_obj['bot_labels']|safe }}, {{ response_obj['bot_values']|safe }}, {{ response_obj['bot_max'] }});
    drawgraph("debt_to_gdp", false, {{ response_obj['debt_to_gdp_labels']|safe }}, {{ response_obj['debt_to_gdp_values']|safe }}, {{ response_obj['debt_to_gdp_max'] }});
</script>


{% endblock %}